.cardBox {
    margin: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.countBox {
    display: flex;
    justify-content: center;
}

.countButton {
    margin: 10px 20px;
    padding: 10px 20px;
    border: none;
    background-color: coral;
    border-radius: 5px;
}

.cartButton2 {
    border: none;
    padding: 15px 5px;
    background-color: coral;
    width: 100%;
}