.item-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    margin: 20px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.459);
}

.item-image {
    width: 270px;
    height: 300px;
}

.item-description {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: coral;
    border: none;
}

.link {
  color: black;
  text-decoration: none;
}