
h1 {
    color: white;
    font-size: 40px;
}
.navBar {
    margin: 0;
    padding: 40px;
    background-color: rgb(68, 68, 68);
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.459);
}

.buttons {
    color: bisque;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: rgb(116, 116, 116);
    margin: 30px 0;
   border-radius: 8px;
   border: none;
}

.cartWidget {
    font-size: 40px;
    color: white;
    
}

.cartButton {
    margin: 30px 0;
    border-radius: 5px;
  border: none;
  background-color: rgb(116, 116, 116);
}