h1 {
    color: white;
    font-size: 40px;
    margin: 15px 0;
}

.nav-bar {
    height: 80px;
    margin: 0;
    background-color: coral;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.459);
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.buttons {
    color: bisque;
    font-size: 20px;
    background-color: coral;
    margin: 0;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #ff6831;
    border-right: 1px solid #ff6831;
}

.paletas-link {
    color: #4a4a4a;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    color: bisque;
}

.cart-box {
    border-left: 1px solid #ff6831;
    border-right: 1px solid #ff6831;
    display: flex;
    align-items: center;
}

.cart-num {
    margin-top: 23px;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.cartWidget {
    font-size: 40px;
    color: white;

}

.cartButton {
    border: none;
    background-color: coral;
}